<div class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="box-title">{{page_title}}</h2>
            <div class="box-tools pull-right">
              <a (click)="back()"><button class="btn btn-warning" style="color: #ffffff">Volver</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert"  *ngIf="status_edit == 'error'">
        Error al actualizar datos de conductor, por favor verifique los datos
      </div>
      <div class="alert alert-success" role="alert"  *ngIf="status_edit == 'ok'">
        Datos guardados
      </div>
      <div class="alert alert-info" *ngIf="carAddedStatus == 'aceptado'">
        Vehículo registrado correctamente.
      </div>
      <form #conductornew="ngForm" (ngSubmit)="onSubmit(conductornew)" *ngIf="conductor">
        <div class="box-body">
          <div class="row">
            <div class="col-lg-8 col-sm-8 col-md-8x col-xs-12">
              <div style="display: flex; justify-content: center" class="btn-group">
                <a [routerLink]="" class="dropdown-toogle" data-toggle="dropdown">
                  <img src="http://157.245.175.97/uploads/avatars/{{conductor.avatar}}" alt="{{conductor.avatar}}" class="img-thumbnail" >
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="http://157.245.175.97/uploads/avatars/{{conductor.avatar}}" target="_blank">Ver foto</a>
                    <input
                      style="display: none"
                      type="file" (change)="onFileChanged($event)"
                      #fileInput>
                    <a class="dropdown-item" (click)="fileInput.click()">Cambiar Foto</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="nombres">Nombres</label>
                <input class="form-control" id="nombres" type="text" name="nombres" #nombres="ngModel" [(ngModel)]="conductor.nombres" required />
                <span *ngIf="!nombres.valid && nombres.touched">Los nombres no son validos</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="ap_paterno">Apellido Paterno</label>
                <input class="form-control" id="ap_paterno" type="text" name="ap_paterno" #ap_paterno="ngModel" [(ngModel)]="conductor.ap_paterno" required />
                <span *ngIf="!ap_paterno.valid && ap_paterno.touched">El apellido paterno no es valido!!</span>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="ap_materno">Apellido Materno</label>
                <input class="form-control" id="ap_materno" type="text" name="ap_materno" #ap_materno="ngModel" [(ngModel)]="conductor.ap_materno" required />
                <span *ngIf="!ap_materno.valid && ap_materno.touched">El apellido materno no es valido!!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="fecha_nacimiento">Fecha de nacimiento</label>
                <input class="form-control" id="fecha_nacimiento" type="date" name="fecha_nacimiento" #fecha_nacimiento="ngModel" [(ngModel)]="conductor.fecha_nacimiento" required />
                <span *ngIf="!fecha_nacimiento.valid && fecha_nacimiento.touched">La fecha de nacimiento no es valido!!</span>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="ci">CI</label>
                <input class="form-control" id="ci" type="number" name="ci" #ci="ngModel" [(ngModel)]="conductor.ci" required />
                <span *ngIf="!ci.valid && ci.touched">El CI no es valido!!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="direccion">Direccion</label>
                <input class="form-control" id="direccion" type="text" name="direccion" #direccion="ngModel" [(ngModel)]="conductor.direccion" required />
                <span *ngIf="!direccion.valid && direccion.touched">La direccion no es valido!!</span>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="celular">Celular</label>
                <input class="form-control" id="celular" type="number" name="celular" #celular="ngModel" [(ngModel)]="conductor.celular" required />
                <span *ngIf="!celular.valid && celular.touched">El celular no es valido!!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="telefono">Telefono</label>
                <input class="form-control" id="telefono" type="number" name="telefono" #telefono="ngModel" [(ngModel)]="conductor.telefono" required />
                <span *ngIf="!telefono.valid && telefono.touched">El telefono no es valido!!</span>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label for="ruta_id">Ruta</label>
                <select class="form-control" id="ruta_id" name="ruta_id" #ruta_id="ngModel" [(ngModel)]="conductor.ruta_id" disabled>
                  <option *ngFor="let ruta of rutas" [value]="ruta.ruta_id">{{ruta.ruta_id}}. {{ruta.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card border-info">
            <div class="card-header text-white bg-info">Vehículos de Conductor</div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12" *ngFor="let auto of autosConductor">
                  <div class="card">
                    <div class="card-header">
                      <strong>Placa: {{auto.placa}}</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Modelo: </strong>{{auto.modelo}}</li>
                      <li class="list-group-item"><strong>Marca: </strong>{{auto.marca}}</li>
                      <li class="list-group-item"><strong>Color: </strong>{{auto.color}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="btn-group">
            <input type="submit" value="Guardar" class="btn btn-success">
            <a (click)="openNewCar(conductor.conductor_id)" class="btn btn-primary" style="color: #ffffff">Agregar Auto</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
