<div class="col-md-12">
  <h2>{{page_title}}</h2>

<div class="alert alert-danger" *ngIf="status_car == 'error'">
  El tipo de punto no se registro correctamente, intentelo de nuevo.
</div>
<div class="alert alert-success" *ngIf="status_car == 'aceptado'">
  El tipo de punto fue registrado correctamente.
</div>

  <form #tipopuntonew="ngForm" (ngSubmit)="onSubmit(tipopuntonew)" class="col-md-5">

    <p>
      <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="tipopunto.nombre" required />
        <span *ngIf="!nombre.valid && nombre.touched">
          Los nombre del tipo de punto no es valido
        </span>
    </p>

    <input type="submit" value="Guardar" class="btn btn-success">

  </form>
</div>