<div *ngIf="!rutas">
  <div class="d-flex justify-content-center" style="position:fixed;top:50%;left:50%">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Cargando Rutas...</span>
    </div>
  </div>
</div>
<div class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary" *ngIf="rutas">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="box-title">{{page_title}}</h3>
            <div class="box-tools pull-right">
              <button (click)="refresh()" class="btn btn-primary"> Refrescar</button>
              <button class="btn btn-success" (click)="openAdd()">Nueva Ruta</button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="rutas-list">
                <tr>
                  <th width="85%">Nombre</th>
                  <th colspan="2">Opciones</th>
                </tr>
                <tr *ngFor="let ruta of rutas">
                  <td>
                    <a [routerLink]="['/ruta',ruta.ruta_id]"><strong>{{ruta.nombre}}</strong></a>
                  </td>
                  <td align="center">
                    <button class="btn btn-warning" (click)="openEdit(ruta)">Editar</button>
                  </td>
                  <td align="center">
                    <a (click)="deleteRuta(ruta.ruta_id)" class="btn btn-danger">Borrar</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
