<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{page_title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="_activarModal.dismiss('Cerrar')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #puntonew="ngForm" (ngSubmit)="onSubmit(puntonew)">
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="status_car == 'error'">
      El punto no se registro correctamente, intentelo de nuevo.
    </div>
    <div class="alert alert-success" *ngIf="status_car == 'aceptado'">
      El punto fue registrado correctamente.
    </div>
    <div class="col-8 form-group">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="punto.nombre" required class="form-control"/>
      <span *ngIf="!nombre.valid && nombre.touched">
        El nombre del punto no es valido
      </span>
    </div>
    <div class="col-6">
      <label for="tipo_punto_id">Tipo</label>
      <select class="form-control form-control-sm" id="tipo_punto_id" name="tipo_punto_id" #punto_id="ngModel" [(ngModel)]="punto.tipo_punto_id">
        <option *ngFor="let tipopunto of tipopuntos" [value]="tipopunto.tipo_punto_id">{{tipopunto.tipo_punto_id}} {{tipopunto.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" value="Guardar" class="btn btn-success">
  </div>
</form>
