<div class="content-wrapper">

    <section class="content-header">
      <h1>Clientes</h1>
      <ol class="breadcrumb">
        <li>
          <a [routerLink]="['/admin']">
            <i class="fa fa-dashboard"></i>Clientes</a>
        </li>

      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" [(ngModel)]="name" class="form-control" name="search" placeholder="Buscar........" >
            <a class="btn btn-primary btn-sm" routerLink="/admin/clientsearch/{{name}}">Buscar</a>
            {{name}}<br>
          </div>
        </div>
      </div>
      <div class="pull-left">
          <a [routerLink]="['/admin/clientform']" class="btn btn-primary btn-sm">Agregar</a>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <ul>
<br>

<div class="row">
      <div class="col-xs-12">
        <ul>
          <li>
              <strong>Role: </strong>{{user?.role}}
            </li>
        </ul>
      </div>
    </div>

<div class="table-responsive">
            <table class="table .table-hover" border=1>
              <tr>
                <td><b>#</b></td>
                  <td><b>ID</b></td>
                  <td><b>NOMBRE</b></td>
                  <td><b>APELLIDO</b></td>
                  <td><b>CI</b></td>
              </tr>


              <tr *ngFor="let client of clients | paginate: {itemsPerPage: 5, currentPage: pageActual}; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.lastname}}</td>
                <td>{{client.ci}}</td>
                <div *ngIf="'A'==user?.role else elseBlock">
                  <td><a class="btn btn-success btn-sm" routerLink="/admin/clientform/{{client.id}}">Modificar</a></td>
                  <td><a class="btn btn-danger btn-sm btn-danger" (click)="delete(client.id)">Eliminar</a></td>
                </div>
              </tr>
            </table>
          </div>
            <pagination-controls class="tabla" (pageChange)="pageActual = $event"></pagination-controls>
          </ul>
        </div>
      </div>
    </section>

  </div>
