Lista de Conductores

<div class="loading" *ngIf="!conductores">
  Cargando...
</div>
<div class="col-md-12" *ngIf="conductores">

  <h2>{{page_title}}</h2>

<button (click)="refresh()">Refrescar</button>


  <table class="table table-hover table-striped" id="conductores-list">
    <tr>
      <th>Nombre completo</th>
      <th>Carnet de identidad</th>
      <th>Celular</th>
      <th>Ruta</th>
      <th>Siguiente Punto de control</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let conductor of conductores">
      <td class="col-md-4">
        <a [routerLink]="['/conductor',conductor.conductor_id]"><strong>{{conductor.nombres}} {{conductor.ap_paterno}} {{conductor.ap_materno}}</strong></a>
      </td>
      <td>
        {{conductor.ci}}
      </td>
      <td>
        {{conductor.celular}}
      </td>
      
      <div *ngFor="let ruta of rutas">
        <div *ngIf="conductor.ruta_id==ruta.ruta_id">
          <td>
            <strong>{{ruta.nombre}}</strong>
          </td>
        </div>
      </div>
      
      <td>
        {{conductor.next_punto_control}}
      </td>

      <td>
        <a [routerLink]="['/conductor-update',conductor.conductor_id]" class="btn btn-warning">Editar</a>
        <a (click)="deleteCar(conductor.conductor_id)" class="btn btn-danger">Borrar</a>
      </td>
    </tr>
  </table>

  <div *ngFor="let conductor of conductores">
    {{conductor.nombres}}
    {{conductor.ap_paterno}}
    {{conductor.ap_materno}}
    {{conductor.ci}}<br>
  </div>

</div>
