<h1>Registro de Conductores</h1>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Nombres</label>
            <input type="text" maxlength="45" class="form-control" id="inputName" placeholder="Nombres">
        </div>
        <div class="form-group col-md-3">
            <label for="inputLastNameP">Apellido Paterno</label>
            <input type="text" maxlength="25" class="form-control" id="inputLastNameP" placeholder="Apellido Paterno">
        </div>
        <div class="form-group col-md-3">
            <label for="inputLastNameM">Apellido Materno</label>
            <input type="text" maxlength="25" class="form-control" id="inputLastNameM" placeholder="Apellido Materno">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputFecha">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="inputFecha">
        </div>
        <div class="form-group col-md-3">
            <label for="inputCi">CI</label>
            <input type="number" class="form-control" id="inputCi">
        </div>
        <div class="form-group col-md-3">
            <label for="inputEx">Expedicion</label>
            <input type="text" maxlength="2" class="form-control" id="inputEx">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDireccion">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion" placeholder="Zona, Avenida o Calle, 100">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFono">Telefono</label>
            <input type="number" class="form-control" id="inputFono">
        </div>
        <div class="form-group col-md-3">
            <label for="inputCel">Celular</label>
            <input type="number" class="form-control" id="inputCel">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>