<header id="header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand">
            SAHRST   
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Registrar Conductor</a>
                </li>
            </ul>
            <ul class="nav  navbar-nav navbar-right">
                <li>
                    <a>Login</a>
                </li>
            </ul>  
        </div>
    </div>
</header>
    
    
