<div class="col-md-12" *ngIf="conductor">

  <!--<h1>{{conductor.conductor_id}}</h1>-->
  <p><strong>INFORMACIÓN DEL CONDUCTOR:</strong></p>
  
  <p>
    <img src="http://157.245.175.97/uploads/avatars/{{conductor.avatar}}" width=150 height=150>
  </p>

  <p>
      <label >Nombres: </label>    
      {{conductor.nombres}}
  </p>
  <p>
    <label>Apellido paterno: </label>     
      {{conductor.ap_paterno}}
  </p>
  <p>
    <label>Apellido materno: </label>     
      {{conductor.ap_materno}}
  </p>
  <p>
    <label>Fecha de nacimiento: </label>     
      {{conductor.fecha_nacimiento}}
  </p>
  <p>
    <label>Carnet de Identidad: </label>     
      {{conductor.ci}}
  </p>
  <p>
    <label>Dirección: </label>     
      {{conductor.direccion}}
  </p>
  <p>
    <label>Celular: </label>     
      {{conductor.celular}}
  </p>
  <p>
    <label>Teléfono: </label>     
      {{conductor.telefono}}
  </p>

</div>