<div *ngIf="conductor">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalService.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card border-info" style="margin: 5%">
    <div class="card-header" style="text-align:center">Datos de Conductor</div>
    <img src="http://157.245.175.97/uploads/avatars/{{conductor.avatar}}" class="card-img-top" alt="..." style="margin-left: 25%">
    <div class="card-body" style="text-align:center">
      <h5 class="card-title">{{conductor.nombres}} {{conductor.ap_paterno}} {{conductor.ap_materno}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Carnet de Identitad:</strong>
        {{conductor.ci}}
      </li>
      <li class="list-group-item">
        <strong>Fecha de Nacimiento:</strong>
        {{conductor.fecha_nacimiento}}
      </li>
      <li class="list-group-item">
        <strong>Dirección:</strong>
        {{conductor.direccion}}
      </li>
    </ul>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <strong>Celular:</strong>
          {{conductor.celular}}
        </div>
        <div class="col-6">
          <strong>Teléfono:</strong>
          {{conductor.telefono}}
        </div>
      </div>
    </div>
    <div class="card-footer" id="accordion">
      <div class="col-6">
        <strong>Vehículos</strong>
      </div>

      <div class="card" *ngFor="let auto of autosConductor">
        <div class="card-header" id="head_{{auto.vehiculo_id}}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse_' + auto.vehiculo_id" aria-expanded="false" [attr.aria-controls]="'collapse_' + auto.vehiculo_id">
              {{auto.placa}}
            </button>
          </h5>
        </div>
        <div id="collapse_{{auto.vehiculo_id}}" class="collapse" [attr.aria-labelledby]="'head_' + auto.vehiculo_id" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Modelo: </strong>
                {{auto.modelo}}
              </li>
              <li class="list-group-item">
                <strong>Marca: </strong>
                {{auto.marca}}
              </li>
              <li class="list-group-item">
                <strong>Color: </strong>
                {{auto.color}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
