<div class="col-md-12">
  <h2>{{page_title}}</h2>

<div class="alert alert-danger" *ngIf="status_car == 'error'">
  La ruta no se registro correctamente, intentelo de nuevo.
</div>
<div class="alert alert-success" *ngIf="status_car == 'aceptado'">
  La ruta fue registrado correctamente.
</div>

  <form #rutanew="ngForm" (ngSubmit)="onSubmit(conductornew)" class="col-md-5">

    <p>
      <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="ruta.nombre" required />
        <span *ngIf="!nombre.valid && nombre.touched">
          El nombre no es valido
        </span>
    </p>    

    <input type="submit" value="Guardar" class="btn btn-success">

  </form>
</div>