<div *ngIf="!puntos && !ruta">
  <div class="d-flex justify-content-center" style="position:fixed;top:50%;left:50%">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Cargando Detalles...</span>
    </div>
  </div>
</div>
<div class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary" *ngIf="puntos && ruta">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="box-title"><strong>Ruta: </strong>{{ruta.nombre}}</h3>
            <div class="box-tools pull-right">
              <button (click)="refresh()" class="btn btn-primary">Actualizar</button>
              <button class="btn btn-success">Añadir punto</button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="detalle-ruta-list">
                <tr>
                  <th>Punto</th>
                  <th>Tipo de Punto</th>
                  <th colspan="2">Opciones</th>
                </tr>
                <tr *ngFor="let punto of puntos">
                  <td>{{punto.nombre_punto}}</td>
                  <td *ngIf="punto.tipo_punto === 'Inicio'" class="text-success"><strong>{{punto.tipo_punto}}</strong></td>
                  <td *ngIf="punto.tipo_punto === 'Control'">{{punto.tipo_punto}}</td>
                  <td *ngIf="punto.tipo_punto === 'Fin'" class="text-danger"><strong>{{punto.tipo_punto}}</strong></td>
                  <td>
                    <button *ngIf="punto.tipo_punto === 'Inicio' || punto.tipo_punto === 'Fin'" class="btn btn-danger" disabled>Borrar</button>
                    <button *ngIf="punto.tipo_punto == 'Control'" class="btn btn-danger" (click)="deletePuntoRuta(punto.punto_ruta_id)">Borrar</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
