<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{page_title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="_activarModal.dismiss('Cerrar')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #rutanew="ngForm" (ngSubmit)="onSubmit(rutanew)" *ngIf="ruta">
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="status_ruta == 'error'">
      La ruta no se registro correctamente, intentelo de nuevo.
    </div>
    <div class="alert alert-success" *ngIf="status_ruta == 'aceptado'">
      La ruta fue registrada correctamente.
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="ruta.nombre" required class="form-control" />
      <span *ngIf="!nombre.valid && nombre.touched">
        El nombre no es valido
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" value="Actualizar" class="btn btn-success">
  </div>
</form>
